{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    <form method="POST">
        <table>
            <tr>
                <td>Email<td></td>
                <td>   {{ form_widget(form.email) }}
                <td></td>
            </tr>
            <tr>
                <td>Adresse<td></td>
                <td>{{ form_widget(form.address) }}<td></td>
            </tr>
            <tr>
                <td>Telephone<td></td>
                <td>{{ form_widget(form.phone) }}<td></td>
            </tr>

            <tr>
                <td>SiteWeb<td></td>
                <td>         {{ form_widget(form.url) }} <td></td>

            </tr>

            {{ form_rest(form) }}

        </table>
        <input  class="btn"  id="f2" type="submit" value="Ajouter" />

    </form>
{% endblock %}



{# empty Twig template #}

